<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <div class="jumbotron text-center">
        <div class="container">
          <h1>Welcome Home Smith</h1>
          <form method="post" enctype="multipart/form-data" action="http://localhost:5000/upload">
          <input type="file" name="sampleFile">
          <input type="submit">
          </form>
        </div>
    </div>
</body>
</html>
